{{#if errors}}
    <ul class="form-errors">
        {{#each errors}}
        <li class="text-center">{{msg}}</li>
        {{/each}}
    </ul>
{{/if}}
{{#if currentUser.member}}
<form action="" method="POST" class="form">
    <label class="label" for="password">Enter the password to become an Admin:</label>
    <input class="p-2 rounded focus:bg-gray-300" type="password" name="password" required>
    <button class="form-button">Become an Admin</button>
</form>
{{else}}
<p class="font-bold text-teal-700 text-center mt-8">To become an Admin, you first have to become a Member</p>
{{/if}}
