<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{#if currentUser}}
    <ul>
      <li><a href="/new-message">Create message</a></li>
      <li><a href="">Delete message</a></li>
      <li><a href="">View message</a></li>
      {{#unless currentUser.member}}
      <li><a href="/become-member">Become a Member</a></li>
      {{/unless}}
      {{#if currentUser.member}}
        {{#unless currentUser.admin}}
          <li><a href="/become-admin">Become an Admin</a></li>
        {{/unless}}
      {{/if}}
      <li><a href="/log-out">Log Out</a></li>
    </ul>
    {{/if}}
    {{#unless currentUser}}
      <button><a href="/sign-up">Sign up</a></button>
      <button><a href="/log-in">Log in</a></button>
    {{/unless}}
    {{{body}}}
  </body>
</html>
