<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/become-member">Become a member</a>
    <a href="/log-out">log out</a>
    {{{body}}}
  </body>
</html>
